<div class="p-14 h-[90%] items-center justify-center">
  <div class="flex items-center justify-center">
    <h2 class="text-2xl font-bold mb-5">Your Cart</h2>
  </div>
  <div class="max-h-80 overflow-y-auto block">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="text-black">Item</th>
        <td mat-cell *matCellDef="let element" class="text-black">
          {{ element.name }}
          <img src="{{ element.image }}" alt="" class="max-h-10" />
        </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef class="text-black">Price</th>
        <td mat-cell *matCellDef="let element" class="text-black">
          {{ element.price | currency : "PHP" }}
        </td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef class="text-black">Quantity</th>
        <td mat-cell *matCellDef="let element" class="text-black">
          <input
            name="quantity"
            type="number"
            id="quantity"
            (change)="changeCartItemQuantity($event, element.id, element.price)"
            [(ngModel)]="element.cartQuantity"
            placeholder="{{ element.cartQuantity }}"
            class="shadow appearance-none border rounded w-[5rem] text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-right"
          />
          pcs
        </td>
      </ng-container>

      <!-- Total Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef class="text-black">Total</th>
        <td mat-cell *matCellDef="let element" class="text-black">
          {{ element.rowTotal | currency : "PHP" }}
        </td>
      </ng-container>

      <!-- Delete Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="text-black text-center">
          Action
        </th>
        <td mat-cell *matCellDef="let element" class="text-black">
          <button
            (click)="removeFromCart(element.id)"
            class="hover:bg-stone-500 hover:text-white text-red-500 py-2 px-4 rounded"
          >
            Remove
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
        class="text-black"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="text-black"
      ></tr>
    </table>
  </div>

  <!--  <form #productForm="ngForm" (ngSubmit)="onSubmit()"> -->
  <form>
    <div class="flex justify-center">
      <h2 *ngIf="!totalProgressSpinner" class="font-bold">
        Total Amount:
        {{ dataSource | async | computeTotalAmount | currency : "PHP" }}
      </h2>
      <mat-spinner
        *ngIf="totalProgressSpinner"
        diameter="25"
        mode="indeterminate"
        class="black-spinner"
      ></mat-spinner>
    </div>

    <div class="flex justify-center">
      <button
        (click)="checkOut()"
        type="submit"
        class="hover:bg-stone-500 hover:text-white text-stone-500 py-2 px-4 rounded"
      >
        Checkout
      </button>
      <button
        type="button"
        (click)="close()"
        class="hover:bg-stone-500 hover:text-white text-stone-500 py-2 px-4 rounded"
      >
        Close
      </button>
    </div>
  </form>
</div>
