<h1>Customer Log-in</h1>
<form #customerLogIn="ngForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" [(ngModel)]="email" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
    />
  </div>
  <button type="submit" class="custom-button">Login</button>
  <span> or </span>
  <a routerLink="/customer/registration" class="custom-button"
    >Don't have an account?</a
  >
  <hr />
  <button type="button" (click)="signInWithGoogle()" class="custom-button">
    Sign-in with Google
  </button>
</form>
