<h1>Customer Log-in</h1>
<form #customerLogIn="ngForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" [(ngModel)]="email" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
    />
  </div>
  <button type="submit">Login</button>
  <span> or </span>
  <a routerLink="/customer/registration">Don't have an account?</a>
</form>
